!!! Strict
/
/ Design by Free CSS Templates
/ http://www.freecsstemplates.org
/ Released for free under a Creative Commons Attribution 2.5 License
/ 
/ Name       : Regeneracy
/ Description: A two-column, fixed-width design with dark color scheme.
/ Version    : 1.0
/ Released   : 20100529
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
%head
%meta{:content => "", :name => "keywords"}/
%meta{:content => "", :name => "description"}/
%meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
%title Regeneracy    by Free CSS Templates

= stylesheet_link_tag 'application'
= stylesheet_link_tag 'template', :media => "screen", :rel => "stylesheet", :type => "text/css"
= javascript_include_tag "jquery-1.4.2.min", "application"

%body
  #wrapper
    #header-wrapper
      #header
        #logo
          %h1
            %a{:href => "#"}= t(:title)
          %p
            design by
            %a{:href => "http://www.freecsstemplates.org/"} Free CSS Templates
        #menu
          %ul
            %li.current_page_item
              = link_to t('top_menu.home'), root_path
            %li
              %a{:href => "#"}= t('top_menu.about')
            %li
              %a{:href => "#"}= t('top_menu.links')
            %li
              %a{:href => "#"}= t('top_menu.contact')
            - unless logged_in?
              %li
                = link_to t('top_menu.restricted_area'), login_path
            - else
              %li
                = link_to t('top_menu.logout'), logout_path
    / end #header
    #page
      #page-bgtop
        #page-bgbtm
          #content
            #flash= render 'layouts/application/flash', :flash => flash
            = yield

          / end #content
          #sidebar
            %ul
              %li
                #search
                  - form_tag emails_path, :method => :get do
                    %div
                      = text_field_tag "search[email]", 'Enter the scammer email address', :size => 20, :class => "rmv-dft-val", :id => "search-text"
                      = submit_tag 'GO'
                %div{:style => "clear: both;"} &nbsp;
              %li
                %h2 Aliquam tempus
                %p Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.
              %li
                %h2 Categories
                %ul
                  %li
                    = link_to "French", :locale => :fr
                  %li
                    = link_to "English", :locale => :en
          / end #sidebar
          %div{:style => "clear: both;"} &nbsp;
    / end #page
  #footer
    %p
      Copyright (c) 2008 Sitename.com. All rights reserved. Design by
      = succeed "." do
        %a{:href => "http://www.freecsstemplates.org/"} Free CSS Templates
  / end #footer
