!!! Strict
/
  Design by Free CSS Templates
  http://www.freecsstemplates.org
  Released for free under a Creative Commons Attribution 2.5 License
  
  Name       : Regeneracy
  Description: A two-column, fixed-width design with dark color scheme.
  Version    : 1.0
  Released   : 20100529
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Regeneracy    by Free CSS Templates
    %link{:href => "style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %body
    #wrapper
      #header-wrapper
        #header
          #logo
            %h1
              %a{:href => "#"} Regeneracy
            %p
              design by
              %a{:href => "http://www.freecsstemplates.org/"} Free CSS Templates
          #menu
            %ul
              %li.current_page_item
                %a{:href => "#"} Home
              %li
                %a{:href => "#"} Blog
              %li
                %a{:href => "#"} Photos
              %li
                %a{:href => "#"} About
              %li
                %a{:href => "#"} Links
              %li
                %a{:href => "#"} Contact
      / end #header
      #page
        #page-bgtop
          #page-bgbtm
            #content
              .post
                %h2.title
                  %a{:href => "#"} Welcome to Regeneracy
                %p.meta
                  %span.date May 10, 2010
                  %span.posted
                    Posted by
                    %a{:href => "#"} Someone
                %div{:style => "clear: both;"} &nbsp;
                .entry
                  %p
                    This is
                    = succeed "," do
                      %strong Regeneracy
                    a free, fully standards-compliant CSS template designed by FreeCssTemplates
                    %a{:href => "http://www.nodethirtythree.com/"}
                    for
                    = succeed "." do
                      %a{:href => "http://www.freecsstemplates.org/"} Free CSS Templates
                    This free template is released under a
                    %a{:href => "http://creativecommons.org/licenses/by/3.0/"} Creative Commons Attribution 3.0
                    license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :)
                  %p Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.
                  %p.links
                    %a{:href => "#"}> Read More
                    \&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                    %a{:href => "#", :title => "b0x w"} Comments
              .post
                %h2.title
                  %a{:href => "#"} Lorem ipsum sed aliquam
                %p.meta
                  %span.date May 10, 2010
                  %span.posted
                    Posted by
                    %a{:href => "#"} Someone
                %div{:style => "clear: both;"} &nbsp;
                .entry
                  %p
                    Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus
                    = succeed "." do
                      %a{:href => "#"} dapibus semper urna
                    Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus ut, lobortis a, est.
                  %p.links
                    %a{:href => "#"}> Read More
                    \&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                    %a{:href => "#"} Comments
              .post
                %h2.title
                  %a{:href => "#"} Consecteteur hendrerit
                %p.meta
                  %span.date May 10, 2010
                  %span.posted
                    Posted by
                    %a{:href => "#"} Someone
                %div{:style => "clear: both;"} &nbsp;
                .entry
                  %p
                    Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus
                    = succeed "." do
                      %a{:href => "#"} dapibus semper urna
                    Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus ut, lobortis a, est.
                  %p.links
                    %a{:href => "#"}> Read More
                    \&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                    %a{:href => "#"} Comments
              %div{:style => "clear: both;"} &nbsp;
            / end #content
            #sidebar
              %ul
                %li
                  #search
                    %form{:action => "#", :method => "get"}
                      %div
                        %input#search-text{:name => "s", :type => "text", :value => ""}/
                        %input#search-submit{:type => "submit", :value => "GO"}/
                  %div{:style => "clear: both;"} &nbsp;
                %li
                  %h2 Aliquam tempus
                  %p Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.
                %li
                  %h2 Categories
                  %ul
                    %li
                      %a{:href => "#"} Aliquam libero
                    %li
                      %a{:href => "#"} Consectetuer adipiscing elit
                    %li
                      %a{:href => "#"} Metus aliquam pellentesque
                    %li
                      %a{:href => "#"} Suspendisse iaculis mauris
                    %li
                      %a{:href => "#"} Urnanet non molestie semper
                    %li
                      %a{:href => "#"} Proin gravida orci porttitor
                %li
                  %h2 Blogroll
                  %ul
                    %li
                      %a{:href => "#"} Aliquam libero
                    %li
                      %a{:href => "#"} Consectetuer adipiscing elit
                    %li
                      %a{:href => "#"} Metus aliquam pellentesque
                    %li
                      %a{:href => "#"} Suspendisse iaculis mauris
                    %li
                      %a{:href => "#"} Urnanet non molestie semper
                    %li
                      %a{:href => "#"} Proin gravida orci porttitor
                %li
                  %h2 Archives
                  %ul
                    %li
                      %a{:href => "#"} Aliquam libero
                    %li
                      %a{:href => "#"} Consectetuer adipiscing elit
                    %li
                      %a{:href => "#"} Metus aliquam pellentesque
                    %li
                      %a{:href => "#"} Suspendisse iaculis mauris
                    %li
                      %a{:href => "#"} Urnanet non molestie semper
                    %li
                      %a{:href => "#"} Proin gravida orci porttitor
            / end #sidebar
            %div{:style => "clear: both;"} &nbsp;
      / end #page
    #footer
      %p
        Copyright (c) 2008 Sitename.com. All rights reserved. Design by
        = succeed "." do
          %a{:href => "http://www.freecsstemplates.org/"} Free CSS Templates
    / end #footer
